<div>
    <div class="blanket"></div>
    <div class="popUpDiv">
        <table width="100%">
            <tr>
                <td width="50%">
                    Name
                </td>
                <td width="50%">
                    <input type="text" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="Create">
                </td>
            </tr>
        </table>
    </div>
</div>