.fileList {
    width: 100%;
}

.dataGrid {
    width: 100%;
}

.blanket {
    background-color: #111;
    opacity: 0.65;
    position: absolute;
    z-index: 9001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*
http://tympanus.net/codrops/2013/11/07/css-overlay-techniques/
*/
.popUpDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-left: -150px;
    margin-top: -50px;
    background-color: #eeeeee;
    text-align: center;
    border-radius: 5px;

    z-index: 9002;
    outline: 9999px solid rgba(0, 0, 0, 0.5);
}

.popUpDiv div {
    position: static;

    top: auto;
    left: auto;
    right: auto;
    bottom: auto;

    height: auto;
    width: auto;

    margin: auto;
    display: block;
    padding: 5px;
}

.popUpDiv div span {
    padding: 5px;
    display: block;
}

.buttonBar {
    width: 100%;
    text-align: center;
}

.buttonBar input {
    display: inline;
}

.progressBar {
    border: 1px solid black;
    padding: 1px;
    width: 100%;
}

.progressBar div {
    background-color: cornflowerblue;
    width: 0%;
    height: 20px;
}
